.main {
  overflow: hidden;
  &_hero {
    &_con {
      width: 82.9%;
      margin: auto;
      padding-top: 10.8rem;
      padding-bottom: 7.7rem;
      display: flex;
      justify-content: space-between;
      @media screen and (max-width: 1229px) {
        align-items: center;
      }
      @media screen and (max-width: 900px) {
        flex-direction: column-reverse;
        padding-top: 5rem;
      }
      &_right {
        text-align: right;
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
        width: 50%;
        @media screen and (max-width: 900px) {
          width: 80%;
        }
        @media screen and (max-width: 900px) {
          width: 70%;
        }
        @media screen and (max-width: 700px) {
          width: 80%;
        }
        @media screen and (max-width: 600px) {
          width: 90%;
        }
        @media screen and (max-width: 500px) {
          width: 100%;
        }
        &_img {
          width: 100%;
          text-align: right;
        }
      }
      &_left {
        width: 50%;
        padding-top: 6.8rem;
        @media screen and (max-width: 1230px) {
          padding-top: 6rem;
        }
        @media screen and (max-width: 1229px) {
          padding-top: 0rem;
        }
        @media screen and (max-width: 900px) {
          text-align: center;
          width: 100%;
        }
        &_head {
          font-size: 4.2rem;
          font-family: $Vietnam;
          font-weight: 700;
          color: $Dark-Blue;
          line-height: 1.6;
          margin-bottom: 5rem;
          width: 60%;
          @media screen and (max-width: 1371px) {
            width: 80%;
          }
          @media screen and (max-width: 1028px) {
            width: 90%;
          }
          @media screen and (max-width: 914px) {
            width: 100%;
            font-size: 3.5rem;
          }
          @media screen and (max-width: 900px) {
            font-size: 3rem;
          }
        }
        &_para {
          font-size: 1.4rem;
          font-family: $Vietnam;
          font-weight: 500;
          color: $Vary-Light-Gray2;
          margin-bottom: 4.9rem;
          line-height: 1.7;
          width: 50%;
          @media screen and (max-width: 1030px) {
            width: 80%;
          }
          @media screen and (max-width: 900px) {
            text-align: center;
            width: 100%;
          }
        }
        &_links {
          display: inline-block;
          font-size: 1.1rem;
          font-family: $Vietnam;
          font-weight: 700;
          padding: 1.45rem 3.85rem;
          background-color: $Bright-Red;
          margin-bottom: 4.5rem;
          border-radius: 3.5rem;
          color: $Vary-Light-Gray;
          text-decoration: none;
          box-shadow: 0px 5px 7px rgba(242, 95, 58, 0.5);
          transition: all 0.2s ease-in-out;
          &:hover {
            background-color: rgba(242, 95, 58, 0.5);
          }
        }
      }
    }
  }
}
