// Colors Primary

$Bright-Red: rgb(242, 95, 58);
$Dark-Blue: rgb(36, 45, 82);

// Colors Neutral

$Dark-Grayish-Blue: hsl(227, 12%, 61%);
$Very-Dark-Blue: hsl(233, 12%, 13%);
$Very-Pale-Red: hsl(13, 100%, 96%);
$Vary-Light-Gray: hsl(0, 0%, 98%);
$Vary-Light-Gray2: hsl(0, 0%, 49%);

//Fonts

$Vietnam: "Be Vietnam", sans-serif;
